[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/IVSparse/IVSparse-dev"]
	path = src/IVSparse/IVSparse-dev
	url = git@github.com:Seth-Wolfgang/IVSparse-dev.git
	branch = WolfgangBranch
